.header {
    background: #333434;
    color: white;
    padding: 20px; /* Added padding */
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1); /* Added shadow */
    position: fixed;
    width: 100vw;
    grid-area: header;
    height: 15vh;
	z-index: 1000;
}

.header h1 {
    font-size: 2.5em; /* Increased font size for h1 elements */
    text-align: end;
}

.containerLinksSmall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.containerLinksBigger{
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo{
    width: 64px;
    img{
        width: 64px;
    }
}